@model Kadro


<div  class="card" style="width: 18rem;">

    <img src="@Model.Image" class="card-img-top" alt="...">
    <div class="card-body">
        <a asp-controller="Kadro" asp-action="Info" asp-route-id="@Model.Id">
            <h5 class="card-title">@Model.name</h5>
        </a>
      <p class="card-text">@Model.nationality</p>
      <p class="card-text">@Model.position</p>
    </div>
  </div>